.container {
  min-height: 100vh;
  max-height: 100vw;
  display: flex;
}

.left{
  background-color: lightgray;
  flex: 1;
}
.mid{
  background-color: indianred;
  flex: 2;
}
.right{
  background-color: lightskyblue;
  flex: 4;
}
